:host {
    display: block;
    // justify-content: center;
    // align-items: center;
    cursor: pointer;
}

.cell {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: black;
    border: 4px solid black;
    box-sizing: border-box;
    overflow: hidden;
}

.cell::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 90%;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: var(--color-bg);
}