:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.cell {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--color-bg);
}