.header {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.header-top {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.icon-btn {
  height: 36px;
  width: 105px;
  padding: 0 var(--space-lg);
  border-radius: var(--radius-xlg);
  background: var(--color-board);
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 36px;
  width: auto;
  display: block;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
  padding:10px;
}

.score-card {
  position: relative;
  background: white;
  padding: var(--space-md);
  border-radius: var(--radius-md);
  border: 4px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* black depth plate */
.score-card::before {
  content: '';
  position: absolute;
  inset: 0px;
  transform: translateY(6px);
  left: -4px;
  right: -4px;
  top: 30px;
  bottom: -10px;
  background: black;
  border-radius: var(--radius-md);
  z-index: -1;
}

.avatar {
  position: absolute;
  top: 20px;
  width: 50px;
  height: 50px;
}

.score-card.left .avatar {
  left: -26px;
}

.score-card.right .avatar {
  right: -26px;
}

.score {
  font-size: 1.5rem;
}