:host {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: var(--space-sm);
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    justify-content: space-between;
}