.board-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 8px; /* safe mobile gutter */
}
.board {
  width: 100%;
  max-width: 420px;
  aspect-ratio: 7 / 6;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: repeat(6, 1fr);
  grid-auto-rows: var(--cell-size);
  // grid-template-columns: repeat(7, var(--cell-size));
  gap: var(--space-sm);

  background: white;
  padding: var(--space-md);
  border: 6px solid black;
  border-radius: var(--radius-lg);
}

